button {
    position: absolute;
    top: 17px;
    left: 5px;
    border: none;
    color: blue;
    font-size: 0.9em;
}

header {
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.41);
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.41);
}

h1 {
    padding-top: 17px;
    padding-bottom: 17px;
}

.content {
    padding-top: 40px;
    padding-left: 10px;
}

.flag {
    width: 100%;
}

#map {
    height: 300px;
    width: 100%;
   }

p {
    padding-top: 10px;
    padding-bottom: 10px;
}