* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgba(236, 236, 236, 0.6);
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 1.25em;

}
